[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
awscli = "*"
python-dotenv = "*"
notebook = "*"
ipython-secrets = "*"
pyhorn = "*"
boto3 = "*"
arrow = "*"
Fabric = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.6"
